@import 'mixins';
@import 'variables';

.excel_table {
  position: relative;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  & .row {
    display: flex;
    flex-direction: row;
    height: $row-height;
    min-height: 20px;
  }

  & .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background-color: #f8f9fa;
    position: relative;
    user-select: none;
  }

  & .row-data {
    display: flex;
  }

  & .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 2px solid $border-color;
    border-top: none;
    border-left: none;
    position: relative;
    user-select: none;
  }

  & .cell {
    min-width: 40px;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .column-resize {
    position: absolute;
    top: 0;
    bottom: -1px;
    right: 0;
    width: 3px;
    background-color: $primary-color;
    opacity: 0;
    z-index: 1000;
    cursor: col-resize;

    &:hover {
      opacity: 1 !important;
    }
  }

  .row-resize {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3px;
    background-color: $primary-color;
    opacity: 0;
    z-index: 1000;
    cursor: row-resize;

    &:hover {
      opacity: 1 !important;
    }
  }
}
